av
certifi
charset-normalizer
coloredlogs
ctranslate2
faster-whisper
filelock
flatbuffers
fsspec
huggingface-hub
humanfriendly
idna
mpmath
numpy
onnxruntime
packaging
protobuf
python-dotenv
pyyaml
requests
setuptools
sympy
tokenizers
tqdm
typing-extensions
urllib3
